.background    { background-image: url("http://i63.tinypic.com/ins87b.jpg");;
                 table-layout: fixed;
                 border-spacing: 0;  
				 background-repeat: no-repeat;
				 background-attachment: fixed;
				table-layout: fixed;
 }
.background td { padding: 0;          }
.lava          { background: rgb(248, 111, 134); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.player        {background-image: url("https://i.imgsafe.org/1aaf60d9a5.png");;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				}
.move          {background: rgb(255, 110, 87);}
.coin         {background-image: url("http://vignette3.wikia.nocookie.net/fantendo/images/7/7e/Purple_Star_SMW3D.png/revision/latest?cb=20120705195557");;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				}
.cloud        {background-image: url("https://i.imgsafe.org/0d54927109.png");;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				}
.enemy        {background-image: url("https://i.imgsafe.org/1b54c7977c.png");;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				}
.floater	   { background: black;   }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
.lost .player {background-image: url("https://i.imgsafe.org/0f5a133df0.png");;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				}
.filter .player {background-image: url("https://i.imgsafe.org/0f7e296efb.png");;
				background-size: 20px 20px;
				background-repeat: no-repeat;
				}
.won .background{
				background-image: url("https://i.imgsafe.org/12eb0e4f96.gif");;
                 
                 border-spacing: 0;  
				 background-repeat: no-repeat;
				 background-attachment: fixed;
				
				}