.background    { background-image: url("http://i63.tinypic.com/ins87b.jpg");;
                background-repeat: no-repeat;
				 background-attachment: fixed;
				table-layout: fixed;
				 
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(248, 111, 134); }
.wall          { background: white;   }
.floater	   { background: black;   }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
